/* HTML Tags */
@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,800,900,1000);
html,body{
    height: 100%;
}
/* page1 */

header{
    position: relative;
}
body{
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, #7275ee , #390975);
    font-family: "Montserrat", sans-serif;
}

#home{
    z-index: 0;
    position: fixed;

    
}

.tagline{
    margin-top: 200px;
    margin-left: 100px;
}
.taglineimg{
    margin-top: 200px;
}
.tagline h1{
    font-size: 48px;
    font-weight: 800;
    color: #fff;
    letter-spacing: 6px;
    line-height: 72px;
}

.btn-paper{
    display: inline-block;
    font-size: 13px;
    letter-spacing: 4px;
    color: #fff;
    background: #29c1d3;
    padding: 20px 38px;
    border-radius: 50px;
    border: none;
    margin-top: 40px;
    box-shadow: 0px 4px 60px rgba(36, 212, 233, 0.4);
    -webkit-transition: ease all 0.2s;
    -moz-transition: ease all 0.2s;
    -o-transition: ease all 0.2s;
    transition: ease all 0.2s;
}
.btn-paper:hover{
    margin-top: 35px;
    box-shadow: 10px 20px 80px rgba(68, 18, 185, 0.8);
    -moz-transition:  ease all 0.2s; /* Firefox 4 */
    -webkit-transition:  ease all 0.2s; /* Safari 和 Chrome */
    -o-transition:  ease all 0.2s;
    transition: ease all 0.2s;  
}

/* page2 */

.main{
    width: 100%;
    z-index: 6;
    position: absolute;
    display: block;
    background: #fff;
    top:100%;
}
.list{
    padding: 20px;
}
    .pointitle {
        margin-top: 10px;
        margin-bottom: 4px;
        font-size: 24px;
        color: #414c5b;
        letter-spacing: 1px;
        padding-bottom: 15px; }
        .poindesc {
            font-size: 12px;
            color: #7e8899;
            font-weight: 200;
            letter-spacing: 2px;
            line-height: 28px; }

.about{
    margin-top: 160px;
}
    .about h1{
        font-size: 60px;
        font-weight: 800;
        color: #292729;
        letter-spacing: 4px;
        line-height: 82px;
    }

#rectangle
{
width:90px;
height:8px;
background-color:#DD3491;
text-align:center;
margin-top: 16px;
}

.iconpoint {
    width: 80px; }