/* HTML Tags */
@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,800,900,1000);
html,body{
    height: 100%;
}
/* page1 */
.body{
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to bottom right, #7275ee , #390975);
}
header{
    width: 100%;
    margin:0 auto;
}
.fixed-layout {
  max-width: 1200px;
  margin: 0 auto; }

.z{
    position: fixed;
    margin:auto;
    left:100px; 
    right:0; 
    top:10%; 
    bottom:0;
    width:100%; 
    height: 100%;;
}
.tagline{
    margin-top: 30%;
}
.taglineimg{
    margin-top: 30%;
}
.tagline h1{
    font-size: 50px;
    font-weight: 800;
    color: #fff;
    letter-spacing: 6px;
    line-height: 76px;

}

.btn-paper{
    display: inline-block;
    font-size: 13px;
    letter-spacing: 4px;
    color: #fff;
    background: #29c1d3;
    padding: 20px 38px;
    border-radius: 50px;
    border: none;
    margin-top: 40px;
    box-shadow: 0px 4px 60px rgba(36, 212, 233, 0.4);
    -webkit-transition: ease all 0.3s;
    -moz-transition: ease all 0.3s;
    -o-transition: ease all 0.3s;
    transition: ease all 0.3s;
}
.btn-paper:hover{
    margin-top: 35px;
    box-shadow: 0px 10px 60px rgba(36, 212, 233, 0.4);
    -moz-transition:  ease all 0.3s; /* Firefox 4 */
    -webkit-transition:  ease all 0.3s; /* Safari 和 Chrome */
    -o-transition:  ease all 0.3s;
    transition: ease all 0.3s;  
}



/* page2 */
.main{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: block;
    background: #fff;
    top:100%;
}

.list{
    padding: 20px;
}
    .pointitle {
        margin-top: 10px;
        margin-bottom: 4px;
        font-size: 20px;
        color: #414c5b;
        letter-spacing: 1px;
        padding-bottom: 10px; }
        .poindesc {
            font-size: 12px;
            color: #7e8899;
            font-weight: 200;
            letter-spacing: 2px;
            line-height: 28px; }

.about{
    margin-top: 160px;
    margin-bottom: 120px;
}
    .about h1{
        font-size: 70px;
        font-weight: 900;
        color: #424c5c;        
        letter-spacing: 16px;
        line-height: 82px;
    }

#rectangle
{
width:90px;
height:8px;
background-color:#390975;
text-align:center;
margin-top: 16px;
}

.iconpoint {
    width: 80px; }
/*pge3*/

.portfolio{
    background: #EFF0F5
}
.fixedmax{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}
.contents-header{
    padding-top: 30px; 
    margin-top: 100px;
}
.contents-title {
    color: #424c5c;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 10px;
    padding-bottom: 20px;
    line-height: 88px; }

#rectangle1{
    width:120px;
    height:8px;
    background-color:#390975;
    text-align:center;
    margin-top: 16px;
}
.contents-body{
    margin: 0 -15px;
}

/*page3*/
.thumb{
    padding-top: 100px;
    padding-bottom: 100px;
}
.item{
    position: relative;
}
    .item img{
        cursor: pointer;
        display: block;
        height: auto;
        width: 100%;
        border-radius: 15px;
        -webkit-transition: ease all 0.3s;
        -moz-transition: ease all 0.3s;
        -o-transition: ease all 0.3s;
        transition: ease all 0.3s;
    }
        .item img:hover{
            transform: scale(1.05);
            box-shadow: 10px 20px 80px rgba(156, 156, 156, 0.8);
            -moz-transition:  ease all 0.3s; /* Firefox 4 */
            -webkit-transition:  ease all 0.3s; /* Safari 和 Chrome */
            -o-transition:  ease all 0.3s;
            transition: ease all 0.3s;  
        }
    .item h3{
        margin-top: 30px;
        margin-bottom: 0px;
        font-size: 16px;
        color: #414c5b;
        letter-spacing: 1px;
        padding-bottom: 2px;
    }
        .item p{
            font-size: 12px;
            color: #7e8899;
            font-weight: 300;
            letter-spacing: 2px;
            line-height: 28px; 
            padding-bottom: 30px;
        }
.box{
    box-shadow: 0px 10px 40px rgba(219, 219, 219, 0.8);
    border-radius: 15px;
    background-color: #EFF0F5;
}
/*navbar*/
.navbar-brand {
    margin-top: 13px;
    position: absolute; }
    .navbar-brand.top {
      background: url(../img/logo_white.png) no-repeat;
      background-size: contain; }
    .navbar-brand.scroll {
      background: url(../img/logo_color.png) no-repeat;
      background-size: contain; }

header {
width: 100%;
height: 800px;
position: relative; }
header .navbar {
    z-index: 7;
    left: 0;
    padding: 20px 65px;
    background-color: transparent;
    border-bottom: none;
    position: fixed;
    width: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    header .navbar .navbar-collapse {
      float: right; }
      header .navbar .navbar-collapse li a {
        font-family: "Montserrat", sans-serif;
        color: #afb1d7;
        letter-spacing: 2px;
        font-size: 12px;
        font-weight: 200;
        margin-left: 25px; }
        header .navbar .navbar-collapse li a:hover, header .navbar .navbar-collapse li a:focus {
          color: #fff; }
  header .navbar.scrolled {
    background-color: #fff;
    padding: 5px 65px 5px 65px; }
    header .navbar.scrolled .navbar-collapse a {
      color: black; }
      header .navbar.scrolled .navbar-collapse a:hover, header .navbar.scrolled .navbar-collapse a:focus {
        color: #afb1d7; }

footer {
  background-color: #3C3E63;
  z-index: 2;
  color: #fff;
  padding-bottom: 50px; }
  footer .row {
    margin: 0; }
  footer .left {
    padding: 70px 0 30px 200px; }
    footer .left h3 {
      font-weight: 400;
      letter-spacing: 4px;
      line-height: 28px; }
    footer .left p {
      font-weight: 200;
      letter-spacing: 5px;
      line-height: 28px;
      color: #afb1d7; }
  footer .right img {
    padding: 70px 0 30px 200px;
    width: 100%; }
  footer .right button {
    position: absolute;
    top: 30%;
    left: 30%; }

    .imgsize{
        width: 30px;
        padding-bottom: 5px;
    }

    .btnsize{
        padding-top: 200px;
    }
.aboutme1{
    font-size: 18px;
    color: #575b64;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 40px;
    padding-bottom: 20px;
}
.aboutme2 {
    font-size: 14px;
    color: #6f7581;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 40px;
    padding-bottom: 200px; }